<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
		<servlet-name>GetBooks</servlet-name>
		<servlet-class>com.senla.sobol.servlets.GetBooks</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetOrders</servlet-name>
		<servlet-class>com.senla.sobol.servlets.GetOrders</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddBooks</servlet-name>
		<servlet-class>com.senla.sobol.servlets.AddBooks</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetCustomer</servlet-name>
		<servlet-class>com.senla.sobol.servlets.GetCustomer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetWriter</servlet-name>
		<servlet-class>com.senla.sobol.servlets.GetWriter</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddNewCustomer</servlet-name>
		<servlet-class>com.senla.sobol.servlets.AddNewCustomer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddNewWriter</servlet-name>
		<servlet-class>com.senla.sobol.servlets.AddNewWriter</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddNewOrder</servlet-name>
		<servlet-class>com.senla.sobol.servlets.AddNewOrder</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderByIdCustomer</servlet-name>
		<servlet-class>com.senla.sobol.servlets.OrderByIdCustomer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeletBook</servlet-name>
		<servlet-class>com.senla.sobol.servlets.DeletBook</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeletWriter</servlet-name>
		<servlet-class>com.senla.sobol.servlets.DeletWriter</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteCustomer</servlet-name>
		<servlet-class>com.senla.sobol.servlets.DeleteCustomer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteOrder</servlet-name>
		<servlet-class>com.senla.sobol.servlets.DeleteOrder</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImportBook</servlet-name>
		<servlet-class>com.senla.sobol.servlets.ImportBook</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImportWriter</servlet-name>
		<servlet-class>com.senla.sobol.servlets.ImportWriter</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExportWriter</servlet-name>
		<servlet-class>com.senla.sobol.servlets.ExportWriter</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExportCustomer</servlet-name>
		<servlet-class>com.senla.sobol.servlets.ExportCustomer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExportOrder</servlet-name>
		<servlet-class>com.senla.sobol.servlets.ExportOrder</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExportBook</servlet-name>
		<servlet-class>com.senla.sobol.servlets.ExportBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetBooks</servlet-name>
		<url-pattern>/GetBooks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetOrders</servlet-name>
		<url-pattern>/GetOrders</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddBooks</servlet-name>
		<url-pattern>/AddBooks</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCustomer</servlet-name>
		<url-pattern>/GetCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetWriter</servlet-name>
		<url-pattern>/GetWriter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewCustomer</servlet-name>
		<url-pattern>/AddNewCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewWriter</servlet-name>
		<url-pattern>/AddNewWriter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewOrder</servlet-name>
		<url-pattern>/AddNewOrder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderByIdCustomer</servlet-name>
		<url-pattern>/OrderByIdCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletBook</servlet-name>
		<url-pattern>/DeletBook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletWriter</servlet-name>
		<url-pattern>/DeletWriter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCustomer</servlet-name>
		<url-pattern>/DeleteCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteOrder</servlet-name>
		<url-pattern>/DeleteOrder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImportBook</servlet-name>
		<url-pattern>/ImportBook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImportWriter</servlet-name>
		<url-pattern>/ImportWriter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExportWriter</servlet-name>
		<url-pattern>/ExportWriter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExportCustomer</servlet-name>
		<url-pattern>/ExportCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExportOrder</servlet-name>
		<url-pattern>/ExportOrder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExportBook</servlet-name>
		<url-pattern>/ExportBook</url-pattern>
	</servlet-mapping>
</web-app>
