<!DOCTYPE html>
<html ng-app='onlinebooksshop'>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/standart.css" type="text/css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
</script>
<script src="../js/controllers.js"></script>
</head>
<body>
	<div ng-controller="HttpGetController">
		<button ng-click="GetAllOrder()">Get All orders</button>
		|
		<hr />
		<table>
			<h3>List all orders in databases</h3>
			<tr ng-repeat="d in orders | orderBy:'Firstname'">
				<td>{{d.nameBook}}</td>
				<td>{{d.FirstnameOrders}}</td>
				<td>{{d.Dateorder}}</td>
			</tr>
		</table>
		<h3>Write idOrder whose you want to delte</h3>
		<p>
			idOrder: <input type="text" name="idOrder" ng-model="idOrder"
				required />
		</p>
		<button ng-click="DeleteOrder()">Delete customer</button>
		<hr />

		<h3>Write inpute date Order add in databases</h3>
		<p>
			idBook: <input type="text" name="idBook" ng-model="idBook" />
		</p>
		<p>
			idCustomer : <input type="text" name="idCustomer"
				ng-model="idCustomer" />
		</p>

		<button ng-click="AddOrder()">Add customer</button>

		<hr />
		<button ng-click="AddOrderByCustomer()">Get All orders by
			idCustomer</button>
		<p>
			idCustomerByOrders : <input type="text" name="idCustomerTwo"
				ng-model="idCustomerTwo" />
		</p>

		<table>
			<h3>List all orders by id customer in databases</h3>
			<tr ng-repeat="s in ordersById | orderBy:'Firstname'">
				<td>{{s.nameBook}}</td>
				<td>{{s.FirstnameOrders}}</td>
				<td>{{s.Dateorder}}</td>
			</tr>
		</table>
		<a download="ExportOrders.csv"
			ng-href="http://localhost:8080/webbookonline/ExportOrder">Export
			Orders in csv</a>
	</div>
	<ul>
		<li><a href="../index.html">Назад</a></li>
	</ul>
</body>
</html>