<!DOCTYPE html>
<html ng-app='onlinebooksshop'>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/standart.css" type="text/css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
</script>
<script src="../js/controllers.js"></script>
</head>
<body>
	<div ng-controller="HttpGetController">
		<button ng-click="GetAllWriter()">Get All Writer</button>
		|
		<hr />
		<table>
			<h3>List all writers in databases</h3>
			<tr ng-repeat="s in writers | orderBy:'Firstname'">
				<td>{{s.idWriter}}</td>
				<td>{{s.Firstname}}</td>
				<td>{{s.LastNAme}}</td>
				<td>{{s.Startyear}}</td>
				<td>{{s.Diedyear}}</td>
			</tr>
		</table>
		<h3>Write idWriter whose you want to delte</h3>
		<p>
			id Writer: <input type="text" name="idWriter" ng-model="idWriter"
				required />
		</p>
		<button ng-click="DeleteWriter()">Delete writers</button>
		<hr />

		<h3>Write inpute date Writer add in databases</h3>
		<p>
			firstname: <input type="text" name="firstname" ng-model="firstname" />
		</p>
		<p>
			lastname : <input type="text" name="lastname" ng-model="lastname" />
		</p>
		<p>
			startdate: <input type="text" name="startdate" ng-model="startdate" />
		</p>
		<p>
			dieddate : <input type="text" name="dieddate" ng-model="dieddate" />
		</p>
		<button ng-click="AddWriter()">Add writer</button>
		<a download="ExportWriters.csv"
			ng-href="http://localhost:8080/webbookonline/ExportWriter">Export Writer in csv</a>
	</div>

	<ul>
		<li><a href="../index.html">Назад</a></li>
	</ul>
</body>
</html>