<div class="modal-header">
	<h3 class="modal-title">Write inpute date Writer add in databases</h3>
</div>
<div class="modal-body">
	<div ng-controller="HttpWritersController">

		<table class="table">
			<tr>
				<th>firstname:</th>
				<th><input type="text" name="firstname" ng-model="firstname" /></th>
			</tr>
			<tr>
				<th>lastname :</th>
				<th><input type="text" name="lastname" ng-model="lastname" /></th>
			</tr>
			<tr>
				<th>startdate:</th>
				<th><input type="date" name="startdate" ng-model="startdate" /></th>
			</tr>
			<tr>
				<th>dieddate :</th>
				<th><input type="date" name="dieddate" ng-model="dieddate" /></th>
			</tr>
			<tr>
				<th><button type="button" class="btn btn-primary"
						ng-click="AddWriter()">Add writer</button></th>
			</tr>
		</table>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
</div>