
<div>
	<button type="button" class="btn btn-primary"
		ng-click="deleteBookView()">Delete Book</button>
	<button type="button" class="btn btn-primary" ng-click="openAddBook()">
		Add new book</button>
	<button type="button" class="btn btn-primary" ng-click="GetAllBook()">Get
		All Data</button>
	Search by namebook<input type="text" ng-model="nameBook " />
	<hr />
	<table class="table">
		<h3>List all books in databases</h3>
		<tr>
			<th>Id</th>
			<th>Name writer</th>
			<th>Name book</th>
			<th>Price ($)</th>
			<th>Quantity</th>
		</tr>
		<tr
			ng-repeat="d in books.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:nameBook  ">
			<td>{{d.idBook}}</td>
			<td>{{d.NameWriter}}</td>
			<td>{{d.nameBook}}</td>
			<td>{{d.price}}</td>
			<td>{{d.quantityPages}}</td>
		</tr>
	</table>
	View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>3</option>
		<option>5</option>
		<option>10</option>
		<option>20</option>
		<option>30</option>
		<option>40</option>
		<option>50</option></select> records at a time.

	<pagination total-items="totalItems" ng-model="currentPage"
		class="pagination-sm" items-per-page="itemsPerPage"></pagination>
</div>

<hr />
<a download={{exportbook}} ng-href={{url}}>Export Book in csv</a>

</div>
