
<div>
	<button type="button" class="btn btn-primary"
		ng-click="deleteCustomerView()">Delete customer</button>
	<button type="button" class="btn btn-primary"
		ng-click="openAddCustomer()">Add new customer</button>
	<button type="button" class="btn btn-primary"
		ng-click="GetAllCustomer()">Get All customer</button>
	Search by firstname customer<input type="text" ng-model="Firstname " />

	<hr />
	<table class="table">
		<h3>List all customer in databases</h3>
		<tr>
			<th>Id</th>
			<th>Firstname</th>
			<th>Lastname</th>
			<th>Phone</th>
		</tr>
		<tr ng-repeat="d in customers | filter:Firstname">
			<td>{{d.idCustomer}}</td>
			<td>{{d.Firstname}}</td>
			<td>{{d.LastNAme}}</td>
			<td>{{d.Phone}}</td>
		</tr>
	</table>
	<a download={{exportcustomer}} ng-href={{url}}>Export Customer in
		csv</a>


</div>
