
<div>
	<button type="button" class="btn btn-primary"
		ng-click="deleteOrdersView()">Delete order</button>
	<button type="button" class="btn btn-primary"
		ng-click="openAddOrders()">Add new order</button>
	<button type="button" class="btn btn-primary" ng-click="GetAllOrder()">Get
		All orders</button>

	<hr />
	<table class="table">
		<h3>List all orders in databases</h3>
		<tr>
			<th>Id</th>
			<th>Firstname customer</th>
			<th>Lastname customer</th>
			<th>Name book</th>
			<th>Price ($)</th>
			<th>Date order</th>
		</tr>
		<tr ng-repeat="d in orders | orderBy:'Firstname'">
			<td>{{d.idOrder}}</td>
			<td>{{d.FirstnameOrders}}</td>
			<td>{{d.lastnameCustomer}}</td>
			<td>{{d.nameBook}}</td>
			<td>{{d.priceBook}}</td>
			<td>{{d.Dateorder}}</td>
		</tr>
	</table>
	<hr />
	<button type="button" class="btn btn-primary"
		ng-click="AddOrderByCustomer()">Get All orders by idCustomer</button>
	<p>
		idCustomerByOrders : <input type="text" name="idCustomerTwo"
			ng-model="idCustomerTwo" />
	</p>

	<table class="table">
		<h3>List all orders by id customer in databases</h3>
		<tr>
			<th>Id</th>
			<th>Firstname customer</th>
			<th>Lastname customer</th>
			<th>Name book</th>
			<th>Price ($)</th>
			<th>Date order</th>
		</tr>
		<tr ng-repeat="s in ordersById | orderBy:'Firstname'">
			<td>{{s.idOrder}}</td>
			<td>{{s.FirstnameOrders}}</td>
			<td>{{s.lastnameCustomer}}</td>
			<td>{{s.nameBook}}</td>
			<td>{{s.priceBook}}</td>
			<td>{{s.Dateorder}}</td>
		</tr>
	</table>
	<a download={{exportorders}} ng-href={{url}}>Export Orders in csv</a>
</div>
